<!DOCTYPE html>
<html>
<head>
	<title>Let's Do Lunch | Home</title>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="#">Home</a>
				<a href="#">About</a>
				<a href="#">Plans</a>
				<a href="#">Groups</a>
				<a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</body>
</html>