<!DOCTYPE html>
<html>
<head>
	<title>Let's Do Lunch | Home</title>
</head>
<body>
	<h1>Let's Do Lunch Homepage</h1>
	<nav>
		<ul>
			<li>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
			</li>
		</ul>
	</nav>
</body>
</html>