<!DOCTYPE html>
<html>
<head>
	<title>Let's Do Lunch</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<h1>Let's Do Lunch</h1>
	<div id="menu">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/session/users">Profile</a></li>
			<li><a href="/session/plans">Plans</a></li>
			<li><a href="#">Groups</a></li>
			<li><a href="/session/sign_up">SignUp</a></li>
			<li><a href="/session/login">Login</a></li>
			<li><a href="/session/logout">LogOut</a></li>
		</ul>
	</div>
<%= yield %>

<p id="footer">&copy 2014 Danny Kulas</p>
</body>
</html>