<!DOCTYPE html>
<html>
<head>
	<title>Let's Do Lunch</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	<h1>Let's Do Lunch</h1>
	<div id="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Plans</a></li>
			<li><a href="#">Groups</a></li>
		</ul>
	</div>
<%= yield %>
</body>
</html>