<form action="/session/login" method="post">
  <div>
    <input type="text" name="email" placeholder="Email" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div>
    <input type="submit" value="Log In!" />
  </div>
</form>