<h3 id="lunchplans">Create a lunch plan!</h3>

<form action="/session/plans" method="post">

  <% if @user.present? && @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <input type="text" name="name" placeholder="Name" />
  </div>
  <div>
    <input type="text" name="location" placeholder="Loc/City/State" />
  </div>
  <div>
    <input type="text" name="time" placeholder="Date/Time" />
  </div>
  <div id="submitbutton">
    <input type="submit" value="submit" />
  </div>
</form>

<p id="lunchplanhead">Below is each lunch plan:</p>
<ul id="plannedlunch">
  <% @plans.each do |plan| %>
    <li><u><%= plan.name %></u></li>
    <li><%= plan.time %></li>
    <li><%= plan.location %></li>
    <br>
  <% end %>
</ul>






