<h2>Sign-Up Form</h2>

<form action="/session/sign_up" method="post">

  <% if @user.present? && @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>

  <div>
    <input type="text" name="name" placeholder="Name" />
  </div>
  <div>
    <input type="text" name="email" placeholder="Email" />
  </div>
   <div>
    <input type="integer" name="phone_number" placeholder="Phone Number" />
  </div>
  <div>
    <input type="password" name="password" placeholder="Password" />
  </div>
  <div>
    <input type="password" name="password_confirmation" placeholder="Password Confirmation" />
  </div>
  <div id="submitbutton">
    <input type="submit" value="submit" />
  </div>
</form>