body {
	font-family: Andale Mono, sans-serif;
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/41/Picnic_table.jpg);
}

h1 {
	text-align: center;
	font-size: 42px;
	color: white;
	text-shadow: 4px 2px 4px #333333;
}

h3 {
	color: white;
	text-shadow: 1px 0.5px 1px #333333;
}

#menu {
  width: 100%;
  height: 35px;
  font-size: 16px;
  font-family: Andale Mono, sans-serif;
  text-align: center;
  text-shadow: 1px 0.5px 1px #333333;
  background-color: #889C83;
  border-radius: 8px;
}

#menu ul {
	height: auto;
	padding: 8px 0px;
	margin: 0px;
}

#menu li { 
	display: inline; 
	padding: 20px; 
}

#menu a {
	text-decoration: none;
	color: white;
	padding: 8px 8px 8px 8px;
}

#menu a:hover {
	color: #2E81F7;
	background-color: #FFF;
}

#submitbutton, #loginbutton {
	padding-top: 10px;
}

#footer {
	position: fixed;
	text-align: right;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	color: white;
	text-shadow: 2px 1px 2px #333333;
	font-size: 16px;
}

#lunchplans {
	text-align: left;
	color: white;
	text-shadow: 2px 1px 2px #333333;
}

p {
	color: white;
	text-shadow: 2px 1px 2px #333333;
	font-size: 22px;
}

li {
	color: white;
	text-shadow: 4px 2px 4px #333333;
	font-size: 14px;
	list-style-type: none;
}

#plannedlunch {
text-align: center;
padding: 0;
background-color: black;
width: 130px;
margin-left: auto;
margin-right: auto;
}

#lunchplanhead {
	text-align: center;
	font-size: 28px;
}




